<div class="catalog-description">
    <div class="catalog-description__container">
        <div class="catalog-description__header">
            <h3 class="catalog-description__title">
                <i class="icon-question"></i>
                <span>Query comprar câmeras ou acessórios fotográficos?</span>
            </h3>
            <p>
                Encontre aqui os melhores modelos de câmeras digitais para fotografia profissional. São várias marcas e modelos disponíveis com diversos modelos de lentes e acessórios.
                <a href="#">Ver mais (+)</a>
            </p>
            <span class="obs">Câmeras Profissionais mais baratas e em até 12x no cartão</span>
        </div>
        <div class="catalog-description__main">
            {{widget type="interface/widget_menu" template="interface/widgets/menu.phtml" identificador="catalogcategorycamera" exibicao="normal" filtrar_categoria="1" niveis="1"}}
        </div>
    </div>
</div>