
<div class="footer__payment-security">
    <div class="footer__container">
        <div class="footer__payment">
            <h3 class="footer__title">Formas de Pagamento</h3>
            <div class="footer__content">
                {{widget type="interface/widget_pagtos" template="interface/widgets/pagtos.phtml" identificador="payment1" pagtos="10,11,12,13,14,15"}}
                {{widget type="interface/widget_pagtos" template="interface/widgets/pagtos.phtml" identificador="payment2" pagtos="16,17,18,19,20"}}
            </div>
        </div>
        <div class="footer__security">
            <h3 class="footer__title">Segurança / Certificado</h3>
            <div class="footer__content">
                {{widget type="interface/widget_seals" template="interface/widgets/seals.phtml" identificador="securitys" seals="all"}}
            </div>
        </div>
    </div>
</div>
<div class="footer__text">
    <div class="footer__container">
        <p>Preços e condições exclusivos para o site www.mastertronic.com.br e para o televendas, podendo sofrer alterações sem prévia notificação.</p>
        <p>G4G Importação e Exportação LTDA / CNPJ: 24.131.786/0001-44</p>
        <p>A Master Tronic informa não ter qualquer relação com a empresa MASTERTRONICS REPRESENTAÇÕES LTDA. Para contato acesse seu site: <a href="http://www.mastertronics.com.br">http://www.mastertronics.com.br</a></p>
    </div>
</div>
<div class="footer__copyright">
    <div class="footer__container">
        ©Mastertronic - Todos os direitos reservados.
    </div>
</div>
