<div class="rulers">
    <svg class="z-mercado ico rulers__icon"><use xlink:href="#z-mercado" /></svg>
    <div class="rulers__label">
        <strong>Desde 2009</strong>
        <span>no mercado</span>
    </div>
</div>

<div class="rulers">
    <svg class="z-client ico rulers__icon"><use xlink:href="#z-client" /></svg>
    <div class="rulers__label">
        <strong>+ de 490.000</strong>
        <span>clientes atendidos</span>
    </div>
</div>

<div class="rulers">
    <svg class="z-card-lock ico rulers__icon"><use xlink:href="#z-card-lock" /></svg>
    <div class="rulers__label">
        <strong>Pagamento</strong>
        <span>seguro e criptografado</span>
    </div>
</div>

<div class="rulers">
    <svg class="z-cards ico rulers__icon"><use xlink:href="#z-cards" /></svg>
    <div class="rulers__label">
        <strong>Parcele seu equipamento</strong>
        <span>em até 12x sem juros</span>
    </div>
</div>

<div class="rulers">
    <svg class="z-brazil ico rulers__icon"><use xlink:href="#z-brazil" /></svg>
    <div class="rulers__label">
        <strong>Entregas</strong>
        <span>em todo Brasil</span>
    </div>
</div>