<div class="showcases">
    <div class="showcases__container">
        <div class="showcases__list">

            <div class="showcases__item">
                <div class="showcases__figure">
                    <img src="@img(apple)" alt="Apple">
                </div>
                <div class="showcases__content">
                    <a href="#" class="showcases__name">Apple</a>
                    <ul>
                        <li><a href="#">iPhone</a></li>
                        <li><a href="#">MacBooks</a></li>
                        <li><a href="#">iMac</a></li>
                        <li><a href="#">iPad</a></li>
                        <li><a href="#">TV</a></li>
                    </ul>
                    <a href="" class="showcases__more">Ver mais (+)</a>
                </div>
            </div>

            <div class="showcases__item">
                <div class="showcases__figure">
                    <img src="@img(canon)" alt="Canon">
                </div>
                <div class="showcases__content">
                    <a href="#" class="showcases__name">Canon</a>
                    <ul>
                        <li><a href="#">Câmaras Canon</a></li>
                        <li><a href="#">Lentes Canon</a></li>
                        <li><a href="#">Powershot</a></li>
                        <li><a href="#">Acessórios Canon</a></li>
                        <li><a href="#">Bolsas Canon</a></li>
                    </ul>
                    <a href="" class="showcases__more">Ver mais (+)</a>
                </div>
            </div>

            <div class="showcases__item">
                <div class="showcases__figure">
                    <img src="@img(sony)" alt="Sony">
                </div>
                <div class="showcases__content">
                    <a href="#" class="showcases__name">Sony</a>
                    <ul>
                        <li><a href="#">Câmeras Sony</a></li>
                        <li><a href="#">Lentes Sony</a></li>
                        <li><a href="#">Cybershot</a></li>
                        <li><a href="#">Acessórios Sony</a></li>
                        <li><a href="#">Diveersos</a></li>
                    </ul>
                    <a href="" class="showcases__more">Ver mais (+)</a>
                </div>
            </div>

            <div class="showcases__item">
                <div class="showcases__figure">
                    <img src="@img(nikon)" alt="Nikon">
                </div>
                <div class="showcases__content">
                    <a href="#" class="showcases__name">Nikon</a>
                    <ul>
                        <li><a href="#">Acessórios Nikon</a></li>
                        <li><a href="#">Câmeras</a></li>
                        <li><a href="#">Lentes</a></li>
                        <li><a href="#">Filtros</a></li>
                        <li><a href="#">Diversos</a></li>
                    </ul>
                    <a href="" class="showcases__more">Ver mais (+)</a>
                </div>
            </div>

            <div class="showcases__item">
                <div class="showcases__figure">
                    <img src="@img(xiomi)" alt="Xiomi">
                </div>
                <div class="showcases__content">
                    <a href="#" class="showcases__name">Xiomi</a>
                    <ul>
                        <li><a href="#">Redimi</a></li>
                        <li><a href="#">Mi</a></li>
                        <li><a href="#">Black Shark</a></li>
                        <li><a href="#">Note</a></li>
                        <li><a href="#">Acessórios</a></li>
                    </ul>
                    <a href="" class="showcases__more">Ver mais (+)</a>
                </div>
            </div>

            <div class="showcases__item">
                <div class="showcases__figure">
                    <img src="@img(sandisk)" alt="Sandisk">
                </div>
                <div class="showcases__content">
                    <a href="#" class="showcases__name">Sandisk</a>
                    <ul>
                        <li><a href="#">Desktop computers</a></li>
                        <li><a href="#">Tablets</a></li>
                        <li><a href="#">Powerbanks</a></li>
                        <li><a href="#">Charges</a></li>
                        <li><a href="#">Acessórios</a></li>
                    </ul>
                    <a href="" class="showcases__more">Ver mais (+)</a>
                </div>
            </div>

        </div>
    </div>
</div>