.label
    &--year
        display: flex
        justify-content: center
        align-items: center
        padding: 10px
        color: var(--color-text)
        white-space: nowrap
        font-weight: regular
        font-size: 14px

        .header &
            @media media-max-lg
                display: none

        .ico
            margin-right: 5px
            width: 25px
            height: 25px
            fill: var(--gray)