.newsletter
    margin-top: -(gap / 2)
    padding: gap 0
    width: 100%
    background: var(--primary)
    color: var(--primary-contrast)

    &__form
        container()

        position: relative
        margin: 0 auto

        @media media-min-lg
            flex-wrap: nowrap

        .input-text
            height: 50px
            border-radius: 2px
            box-shadow: none

    &__text
        display: flex
        align-items: center
        color: currentColor

        @media media-min-lg
            margin-bottom: 0

        h3
            font-weight: regular
            font-size: 14px

        strong
            display: block
            padding-bottom: 10px
            font-size: 18px

        .ico
            margin-right: (gap / 2)
            width: 86px
            height: 51px

    &__submit
        position: absolute
        right: 0
        bottom: 12px
        padding: 9px 12px
        height: 50px

        .btn
            height: 40px
            background: var(--color-text)
            color: var(--white)
            text-transform: uppercase
            font-weight: medium
            font-size: 12px

    &__text
        @media media-min-lg
            flex: 1 1 495px
            min-width: 0

    &__name
        @media media-min-lg
            flex: 1 1 320px
            min-width: 0

    &__email
        @media media-min-lg
            flex: 1 1 420px
            min-width: 0

        .input-text
            padding-right: 130px