.product-rate
    .rating-box:before, .rating-box .rating:before
        font-size: 12px

    .rating-box
        &:before
            color: var(--color-rating)

        .rating:before
            color: var(--color-rating-active)